body{
    background: url(../img/Patas.svg), url(../img/splash/topo.svg);
    background-repeat: no-repeat;
    background-position: top 0 right, top 0 left;
}

main{
    background: url(../img/splash/meio-2.svg);
    background-repeat: no-repeat;
    background-position: top 7.5rem left;
}

.cad-main__logo{
    display: block;
    text-align: center;

    height: 2.1475rem;

    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.cad-main p{
    text-align: center;
    color: var(--Azul);

    margin: 0 auto 0 auto ;
    width: 90%;
}


@media screen and (min-width: 768px){
    body{
        background-size: 292px auto, 560.97px auto;
        background-position: top -10px right -120px, top 0 left;
    }

    .cad-main__logo{
        margin-top: 10rem;
    }
}