body{
    background-color: var(--Azul);

    background-image: url(../img/splash/topo.svg);
    background-position: top 0 left;
    background-repeat: no-repeat;
}

main{
    background-image: url(../img/splash/meio.svg);
    background-position: top 5rem right;
    background-repeat: no-repeat;
}

.adp-main{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.adp-main p{
    width: 70%;
}

.adp-main__logo{
    text-align: center;
    height: 2.875rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.adp-main h1{
    text-align: center;
    color: #F6F6F6;
    margin-bottom: 1.5rem;
}

.adp-main p{
    text-align: center;
    color: #F6F6F6;
}


.adp-main__container-botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.7rem auto;
}

.adp-main__ilustracao{
    max-width: 250px;
    display: block;
    margin: 0px auto;
    margin-bottom: -1.5rem;
}

@media screen and (min-width: 768px){
   main{
        background-size: 134.45px 664px;
   }

   .adp-main__logo{
        margin-top: 10rem;
    }
}