body{
    background: url(../img/splash/topo.svg);
    background-repeat: no-repeat;
    background-position: top 0 left;
}

.adp-header__perfil-item{
    display: block;
}

.home-main p{
    text-align: center;
    color: var(--Azul);

    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2rem;
    width: 60%;
}

.pularlinha{
    display: none;
}

@media screen and (min-width: 768px){
    body{
        background-size: 560.97px 470px;
    }

    .home-main p{
        margin-top: 150px;
    }

    .pularlinha{
        display: block;
    }
}